/* Color Pallette:
    Light Shade (Background): #ECE8E3
    Light Accent (Attention Grabber): #79BDA7
    Main Brand Color (Main Identity): #008080
    Dark Accent (Secondary Attention Grabber): #406484
    Dark Shade (Text Color): #19171D */

* {
    box-sizing: border-box;
}

body {
    background-color: #ECE8E3;
}

.name {
    color: #19171D;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    display: inline-block;
    border-radius: 100%;
    width: 1000px;
}

h1 {
    color: #19171D;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}



p, li, footer, button {
    color: #19171D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

h2 {
    color: #19171D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

a {
    color: #406484;
}

a:hover {
    color: #79BDA7
}

button {
    color: #406484;
    background-color: #79BDA7;
    text-decoration: underline;
}

button:hover {
    background-color: #406484;
    color: #ECE8E3;
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #008080;
}

.navbar ul li {
    float: left;
    background-color: #008080;
}

.navbar ul li a {
    display: block;
    color:#19171D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover{
    background-color: #79BDA7;
}